<div>
  <!-- Profile Card -->
  <div class="bg-white bg-opacity-10 rounded-2xl p-4 shadow-md">
    <div class="flex items-center gap-4">


    </div>
    <div class="mt-4 p-4 bg-white bg-opacity-10 rounded-lg">
      <h3 class="text-sm text-white">Total Balance</h3>
      <p class="text-2xl font-bold"> {{ balanceDetails?.availableBalance ?? 0.0 }} USDT</p>
      <div class="flex justify-between text-sm text-gray-300 mt-2">

        <div class="flex flex-col">
          <span>Work Account Balance:</span>
          <p class="text-xl font-bold">{{ investUsdBalance?.availableBalance ?? 0.0 }} USDT</p>
        </div>



        <div class="flex flex-col">
          <span>Daily Earnings:</span>
          <p class="text-xl font-bold">0.000 USDT</p>
        </div>
      </div>
    </div>


  </div>





  <!-- Overview Section -->
  <button (click)="openSendModal()" class="w-full">
   <div>
    <div class=" flex flex-row gap-2 bg-orange-400 p-8 bg-opacity-3  w-full  h-24 rounded-2xl">
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"/>
      </svg>


      <p class="text-lg mr-5">Send To work Account</p>
    </div>
   </div>
  </button>
  <div class="grid grid-cols-2 gap-4 mt-2 bg-slate-50 bg-opacity-10 rounded-lg">


    <button (click)="openModal()">
    <div class=" flex flex-row gap-2 bg-orange-400 p-8 bg-opacity-3  w-full  h-24 rounded-2xl">
      <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
      </svg>

      <p class="text-lg mr-3">Deposit</p>
    </div>
  </button>

  <div class=" flex flex-row gap-2 bg-green-600 p-8 bg-opacity-3  w-full  h-24 rounded-2xl">
    <svg class="w-8 h-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
    </svg>

    <p class="text-lg mr-3">Withdraw</p>
  </div>

  </div>

  <div class="mt-5">

    <div class="">
      <p class="text-xl font-bold">Recent Transactions</p>
    </div>



    <div *ngFor="let item of depositDetails">

    <div class="rounded-s-2xl bg-white mt-5 flex flex-row gap-2 h-20 w-full">
      <svg class="w-6 h-6  text-green-500 dark:text-orange m-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19V5m0 14-4-4m4 4 4-4"/>
      </svg>

       <div class="flex flex-col gap-0">
        <p class="text-lg font-bold text-black">Deposit</p>
        <p class="text-sm text-black">{{item.createdAt.substr(1,19)}}</p>
        <p class="text-md  text-green-700">{{item.status}}</p>
       </div>


       <p class="text-sm text-green-700 mt-8 pl-20">+ {{item.amount}} USDT</p>


    </div>

  </div>

  </div>


  <div class="flex flex-col items-center justify-center h-screen">

    <!-- Modal -->
    <div *ngIf="isOpen" class="fixed inset-0 flex items-center justify-center bg-green-950 bg-opacity-50 rounded-lg">
      <div class="bg-blue-950 p-6 rounded-lg shadow-lg w-96">
        <h3 class="text-lg font-semibold">DEPOSIT USDT</h3>
         <div >
            <form (ngSubmit)="deposit()" #depositform="ngForm">

              <div class="mt-4">
                <label
                  for="amount"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Amount</label
                >
                <input
                  [(ngModel)]="amount"
                  #amountInput="ngModel"
                  type="number"
                  id="amount"
                  name="amount"
                  placeholder="0.00"
                  min="10"
                  max="10000"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  required
                />
                <!-- Error message for Amount -->
                <div
                  *ngIf="amountInput.invalid && amountInput.touched"
                  class="text-red-600 text-sm mt-1"
                ></div>
              </div>

              <button
              [disabled]="!depositform.valid"
              class="bg-blue-600 w-full py-2 rounded-lg mt-4"
            >
              Generate Address
            </button>




            </form>

         </div>
        <div class="mt-4 flex justify-end">
          <button (click)="closeModal()" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">
            Close
          </button>
        </div>
      </div>
    </div>


    <div *ngIf="isSendOpen" class="fixed inset-0 flex items-center justify-center bg-green-950 bg-opacity-50 rounded-lg">
      <div class="bg-blue-950 p-6 rounded-lg shadow-lg w-96">
        <h3 class="text-lg font-semibold">SEND USDT TO WORK ACCOUNT</h3>
         <div >
            <form (ngSubmit)="sendToWork()" #swapform="ngForm">

              <div class="mt-4">
                <label
                  for="amount"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Amount</label
                >
                <input
                  [(ngModel)]="swap_amount"
                  #amountInput="ngModel"
                  type="number"
                  id="amount"
                  name="amount"
                  placeholder="0.00"
                  min="10"
                  max="10000"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  required
                />
                <!-- Error message for Amount -->
                <div
                  *ngIf="amountInput.invalid && amountInput.touched"
                  class="text-red-600 text-sm mt-1"
                ></div>
              </div>

              <button
              [disabled]="!swapform.valid"
              class="bg-blue-600 w-full py-2 rounded-lg mt-4"
            >
              Send
            </button>




            </form>

         </div>
        <div class="mt-4 flex justify-end">
          <button (click)="closeModal()" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">
            Close
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="isBottomSheetOpen" class="fixed bottom-0 left-0 right-0 bg-blue-700 shadow-lg p-6 rounded-t-2xl transition-transform transform translate-y-0 h-1/2">
      <h3 class="text-2xl ml-3 font-semibold">Deposit Details</h3>

      <div class="m-2 rounded-2xl bg-transparent shadow-2xl border-red-200">
        <p class=" text-white p-5">Please send only in USDT BEP20 to this address</p>

      </div>

      <div class="flex m-2 mt-6">
        <div class="float-left">
          <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 17.345a4.76 4.76 0 0 0 2.558 1.618c2.274.589 4.512-.446 4.999-2.31.487-1.866-1.273-3.9-3.546-4.49-2.273-.59-4.034-2.623-3.547-4.488.486-1.865 2.724-2.899 4.998-2.31.982.236 1.87.793 2.538 1.592m-3.879 12.171V21m0-18v2.2"/>
          </svg>

        </div>


      </div>

      <div>
        <input
        #referralUrlInput
        type="text"
        value="https://enatokens.online/register?ReferralCode={{
          userData?.referralCode
        }}"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
        readonly
      />
      <button
        (click)="copyReferralUrl(referralUrlInput.value)"
        class="ml-2 text-gray-500 hover:text-gray-700"
      >
      <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M14 4v3a1 1 0 0 1-1 1h-3m4 10v1a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h2m11-3v10a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7.87a1 1 0 0 1 .24-.65l2.46-2.87a1 1 0 0 1 .76-.35H18a1 1 0 0 1 1 1Z"/>
      </svg>

      </button>
      </div>


      <!-- Close Bottom Sheet -->
      <button (click)="closeBottomSheet()" class="mt-4 px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-900">
        Close
      </button>
    </div>
  </div>



</div>